@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  height: 100%;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 8px 15px;
  min-height: 36px;
  cursor: pointer;
}

.button-primary {
  color: #ffffff;
  background-color: #756157;
}

.button-primary:hover {
  background-color: #615048;
}

.button-primary:focus {
  background-color: #615048;
}

.button-primary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-secondary {
  color: #ffffff;
  background-color: #82b3d3;
}

.button-secondary:hover {
  background-color: #68a2ca;
}

.button-secondary:focus {
  background-color: #68a2ca;
}

.button-secondary:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.button-selected {
  color: #ffffff;
  background-color: #7db54f;
}

.button-selected:hover {
  background-color: #6c9e42;
}

.button-selected:focus {
  background-color: #6c9e42;
}

.button-selected:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button-transparent {
  color: #ffffff;
  background-color: transparent;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-transparent:focus {
  outline: 3px solid #83b3d3;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(0, 0, 0, 0);
}

.button-lg {
  font-size: 20px;
  line-height: 36px;
  min-height: 52px;
}

.search-hotels-button {
  min-width: 376px;
}

.button-icon {
  width: 50px;
  height: 48px;
  border: 2px solid #e5e5e5;
  padding: 14px 12px;
}

.button-icon:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.button-icon:focus-visible {
  outline: 2px solid rgba(104, 162, 202, 1);
}

.button-icon:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

/* Header */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.logo {
  z-index: 2;
  display: block;
  margin-right: 29px;
  margin-bottom: -6px;
}

.logo:hover {
  opacity: 60%;
}

.navigation {
  display: flex;
  /* gap: 29px; */
  margin: 0 auto;
  z-index: 1;
}

.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  list-style-type: none;
  max-width: 600px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.navigation-link:hover {
  color: #756157;
}

/* .navigation-link:focus-visible {
  outline: 3px solid #83b3d3;
} */

.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 61, 57, 0.3);
}

.navigation-link-current::after {
  position: absolute;
  bottom: 0;
  right: 16px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-actions-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  position: relative;
  padding: 11px 12px;
  min-width: 20px;
  top: 2px;
}

.navigation-actions-link:hover {
  color: #756157;
}

/* .navigation-actions-link:focus-visible {
  outline: 3px solid #83b3d3;
} */

.navigation-actions-link:focus {
  color: #756157;
}

.navigation-actions-link:active {
  color: rgba(117, 61, 57, 0.3);
}

.navigation-actions {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.actions-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 3px;
  top: 0;
  margin: auto;
}

.header-button {
  width: 160px;
  height: 36px;
  margin-left: 21px;
  padding: 8px 34px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
}

/* Hero */

.hero-img {
  display: block;
  margin: 0 auto;
}

.hero {
  background-color: #9db9cc;
  color: #ffffff;
  background-image: url("../images/hero-background-divider.svg"), url("../images/hero-background.jpg");
  background-position: bottom;
  background-size: 100% auto, cover;
  padding: 51px 371px 82px;
  background-repeat: no-repeat;
}

.title-h2,
.title-h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.title-h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.title-h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

/* Advantages */

.advantages-header {
  padding-top: 69px;
  padding-bottom: 90px;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-text {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  list-style-type: none;
}

.advantages-card {
  padding: 103px 85px;
  min-height: 385px;
}

.card-secondary {
  padding: 114px 85px;
}

.advantages-item {
  width: 400px;
}

.advantages-item-wide {
  display: flex;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  flex-basis: 100%;
  min-width: 100%;
  max-width: 100%;
}

.advantages-card-title {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.advantages-card-title::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 60px;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
}

.advantages-card-decorated::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-card-description {
  margin: 0;
}

.advantages-revers {
  flex-direction: row-reverse;
}

.color-second {
  background-color: rgba(131, 179, 211, 0.2);
}

.color-primary {
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
}

.color-first {
  background-color: rgba(131, 179, 211, 0.12);
}

.color-base {
  background-color: #ffffff;
}

/* Infrastructure */

.infrastructure-header {
  padding: 64px 0;
  text-align: center;
}

.infrastructure-item:nth-child(even) {
  background-color: #ffffff;
}

.infrastructure-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-lead-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.infrastructure-item-title {
  margin-bottom: 30px;
}

.infrastructure-item {
  padding: 81px 85px;
  width: 400px;
  height: 100%;
  min-height: 385px;
}

.infrastructure-item-inner::before {
  content: "";
  display: block;
  margin: 0 auto 30px;
  width: 75px;
  height: 72px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.infrastructure-home::before {
  background-image: url("../images/icons/hotels-large-icon.svg");
}

.infrastructure-food::before {
  background-image: url("../images/icons/burger-large-icon.svg");
}

.infrastructure-souvenir::before {
  background-image: url("../images/icons/gift-large-icon.svg");
}

.infrastructure-item p {
  margin: 0;
}

/* search */

.search {
  text-align: center;
  padding: 96px 0;
}

.search-text,
.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 55px;
}

/* Subscribe */

.subscribe {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 105px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subscribe-form .field {
  min-width: 452px;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  min-width: 232px;
  max-width: 300px;
  border-radius: 0 4px 4px 0;
}

.subscribe-index {
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-color: #9db9cc;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-index h2 {
  color: inherit;
}

.field {
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
  /* width: 100%; */
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  /* border: 2px solid rgba(0, 0, 0, 0); */
  border: none;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus-visible {
  outline: 3px solid #83b3d3;
}

.field:focus {
  outline: 3px solid #83b3d3;
}

/* Footer */

.page-footer {
  background-color: #ffffff;
  color: #000000;
  padding-top: 38px;
  padding-bottom: 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 6px 0 30px;
  /* align-items: center; */
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 150px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 47px;
  height: 40px;
  color: #83b3d3;
}

.social-link:hover {
  color: rgba(104, 162, 202, 1);
}

.social-link:focus {
  color: rgba(104, 162, 202, 1);
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}


.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
  font-style: normal;
  text-decoration: none;
  margin-left: 2px;
}

.contacts-phone:hover {
  color: rgba(117, 97, 87, 1);
}

.contacts-phone:focus {
  color: rgba(117, 97, 87, 1);
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright {
  text-decoration: none;
  color: inherit;
  margin-top: 3px;
}

.footer-dev-logo:hover {
  color: rgba(117, 97, 87, 1);
}

.footer-dev-logo:focus {
  color: rgba(117, 97, 87, 1);
}

.footer-dev-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Modal-container */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-closed {
  /* display: none; */
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  width: 717px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 46px;
}

.label-size {
  min-width: 137px;
}

.children-container-form {
  display: flex;
}

.adults-container {
  display: flex;
}

.children-container {
  display: flex;
}

.modal-close-button {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 64px;
  right: 52px;
  background-color: #f2f2f2;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  outline: 3px solid #83b3d3;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.3);
}


.modal-title {
  margin: 0;
  margin-bottom: 64px;
  text-align: left;
}

.modal-label-input-title {
  display: flex;
  margin: 12px 0;
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.modal-input-large {
  border-radius: 4px;
  padding: 12px 20px;
  min-width: 440px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.form-container:has(.message) {
  margin-bottom: 23px;
}

.arrival-date-container {
  position: relative;
}

.departure-date-container {
  position: relative;
}

.calendar-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  opacity: 0.3;
  cursor: pointer;
  outline: none;
  border: none;
  background-image: url("../images/icons/calendar-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.calendar-wpapper {
  position: relative;
  margin-bottom: 4px;
}

.calendar-button:hover {
  opacity: 1;
}

.calendar-button:focus-visible {
  outline: 3px solid #82b3d3;
}

.calendar-button:focus {
  opacity: 1;
  border-radius: 4px;
}

.calendar-button:active {
  opacity: 0.2;
}

.message {
  margin: 0;
  margin-left: 18px;
  font-size: 16px;
}

.message-error {
  color: #ff5757;
}

.input-form-container {
  position: relative;

  display: flex;
}

.form-input-guest {
  -moz-appearance: textfield;
  font-family: inherit;
  padding: 14px 38px;
  max-width: 111px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.form-input-guest::-webkit-inner-spin-button,
.form-input-guest::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.plus-minus-button {
  position: absolute;
  top: 10px;
  align-items: center;
  opacity: 0.3;
  z-index: 1;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  width: 25px;
  height: 25px;
}

.minus-button {
  left: 10px;
  background-image: url("../images/icons/minus-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.plus-button {
  right: 10px;
  background-image: url("../images/icons/plus-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form-input-guest:hover {
  background-color: #e6e6e6;
}

.plus-minus-button:hover {
  opacity: 1;
}

.plus-minus-button:focus-visible {
  outline: 3px solid #82b3d3;
}

.plus-minus-button:focus {
  opacity: 1;
  border-radius: 4px;
}

.plus-minus-button:active {
  opacity: 0.2;
}

.tooltip-input {
  display: flex;
  position: relative;
}

.tooltip {
  position: relative;
}

.tooltip-toggle {
  display: block;
  position: relative;
  margin-right: 47px;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  width: 26px;
  height: 26px;
}

.info-icon {
  fill: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.tooltip-text {
  display: none;
  position: absolute;
  top: 40px;
  left: 24px;
  transform: translateX(-50%);
  z-index: 1;
  box-sizing: border-box;
  margin: 0;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #333333;
  padding: 21px 15px 23px 22px;
  width: 256px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  position: absolute;
  right: 0;
  bottom: 100%;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../images/icons/popup-triangle-icon.svg");
  width: 19px;
  height: 9px;
  content: "";
}


.modal-form .button {
  font-size: 20px;
  line-height: 24px;
  padding: 18px 77px;
  border-radius: 10px;
}

/* Catalog */

.main-inner {
  background-color: #ffffff;
}

.sorting-container {
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  color: #ffffff;
  background-color: #9db9cc;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 57px;
  margin-bottom: 50px;
}

.catalog-inner-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  display: flex;
  gap: 28px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 0;
  right: -24px;
  background: url("../images/icons/breadcrumbs-icon.svg") 0 0 no-repeat;
  background-size: contain;
  width: 20px;
  height: 21px;
}

.breadcrumbs-item:hover {
  opacity: 60%;
}

.breadcrumbs-item:focus {
  color: #ffffff;
}

.breadcrumbs-item:active {
  opacity: 30%;
}

.breadcrumbs-link {
  text-decoration: none;
  color: inherit;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.filter-group {
  margin: 0;
  border: none;
  padding: 0;
  display: flex;
}

.checkbox {
  position: relative;
  display: block;
  padding-left: 36px;
}

.checkbox-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.checkbox-input:checked + .checkbox-mark {
  background-image: url("../images/icons/checked-icon.svg");
  background-position: center;
  background-size: 13px 11px;
  background-repeat: no-repeat;
}

.checkbox:hover .checkbox-mark,
.checkbox:hover .checkbox-label {
  opacity: 60%;
}

.checkbox-input:focus + .checkbox-mark {
  outline: 3px solid #83b3d3;
}

.checkbox:active .checkbox-mark,
.checkbox:active .checkbox-label {
  opacity: 30%;
}

.radio {
  position: relative;
  display: block;
  padding-left: 36px;
}

.radio-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}

.radio-input:checked + .radio-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #3f5e72;
  width: 10px;
  height: 10px;
  content: "";
}

.radio:hover .radio-mark,
.radio:hover .radio-label {
  opacity: 60%;
}

.radio-input:focus + .radio-mark {
  outline: 3px solid #83b3d3;
}

.radio:active .radio-mark,
.radio:active .radio-label {
  opacity: 30%;
}

.checkbox,
.radio {
  cursor: pointer;
  margin-bottom: 16px;
}

.form-group-range {
  margin-left: 78px;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.button.filter-button {
  display: block;
  min-width: 191px;
}

.button.filter-button:not(:last-child) {
  margin-bottom: 32px;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.filter-list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  list-style-type: none;
}

.filter-range-control {
  position: relative;
}

.filter-range-control input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.range-wrapper-inputs {
  display: flex;
  gap: 2px;
  margin-bottom: 36px;
}

/* Inputs Styles */

.input-element {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
}

.input-element:hover {
  background-color: #e6e6e6;
}

.input-element:focus-visible {
  outline: 3px solid #83b3d3;
}

.input-element:focus {
  background-color: #e6e6e6;
}

.input-element:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.range-input {
  -moz-appearance: textfield;
  position: relative;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 10px 40px 10px 18px;
  width: 143px;
  min-height: 48px;
  color: #000000;
}

.range-input-from {
  border-radius: 4px 0 0 4px;
}

.range-input-to {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  appearance: none;
}

.range-input-from-placeholder {
  position: absolute;
  top: 50%;
  right: 19px;
  color: #000000;
  transform: translateY(-50%);
  opacity: 30%;
}

.hotel-filters-bar-control {
  position: relative;
  width: 287px;
  height: 20px;
}

.hotel-filters-bar-control::before,
.hotel-filters-bar-control::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  content: "";
}


.hotel-filters-bar-control::before {
  left: 0;
  background-color: #ffffff;
  width: 227px;
}

.hotel-filters-bar-control::after {
  right: 0;
  width: 60px;
}

.filters-toggle {
  position: absolute;
  top: 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  width: 20px;
  height: 20px;
}

.filters-min-control {
  left: 0;
}

.filters-max-control {
  right: 60px;
}

.filters-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filters-toggle:focus {
  outline: 3px solid rgba(131, 179, 211, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.filters-toggle:active {
  outline: 2px solid rgba(131, 179, 211, 1);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.catalog-title {
  margin: 0;
  color: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  appearance: none;
  margin-right: 62px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url("../images/icons/arrow-icon.svg");
  background-position: center right 20px;
  background-repeat: no-repeat;
  padding: 10px 40px 10px 15px;
  width: 292px;
  min-height: 49px;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: inherit;
  cursor: pointer;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus-visible {
  border-color: #83b3d3;
  outline: none;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.catalog-style-current {
  border: 2px solid #000000;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: auto 1fr;
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
  height: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-card-title {
  text-transform: none;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
  grid-column: 1/-1;
}

.product-card-text {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.product-card-price {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  text-align: right;
}

.product-card-stars {
  height: 17px;
  margin: auto 0;
  background-image: url("../images/icons/star-icon.svg");
  background-repeat: space no-repeat;
  background-position-y: center;
  min-height: 36px;
}

.product-card-stars-2 {
  width: 42px;
}

.product-card-stars-3 {
  width: 66px;
}

.product-card-stars-4 {
  width: 89px;
}

.product-card-rating {
  color: inherit;
  background-color: #f2f2f2;
  margin: 0;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 8px 15px;
  min-height: 36px;
}

.pagination-container {
  border-top: 1px solid #e6e6e6;
  padding-top: 40px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 8px;
  margin: 0;
  margin-bottom: 60px;
}

.pagination-item {
  list-style-type: none;
  text-align: center;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px;
  text-decoration: none;
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid transparent;
}

.pagination-link:not(.pagination-current):not(.pagination-prev):hover {
  background-color: #68a2ca;
  border-color: #82b3d3;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(130, 179, 211, 1);
}

.pagination-link.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
}

.pagination-link.pagination-prev {
  color: #000000;
  background-color: #ffffff;
}
